.name {
    position: absolute;
    left: 10%;
    top: 10%;
    font-size: 60px;
    min-width: max-content;
}
.loginBtn{
    position: absolute;
    width: 130px;
    height: 50px;


    background: #9648A6;
    border-radius: 10px 0;
}
.loginBtn__Pos{
    background: lightgrey;
    margin-left: 70%;
    margin-top: 1%;
}
.loginBtn__Sign{
    margin-left: 135px;
}
.loginBtn__Log{
    margin-top: 8px;
}

.btnText{
    margin-top: 9px;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.hamburger{
    position: absolute;
    width: 62px;
    height: 0;
    border: 4px solid #9648A6;
    left: 90%;
    top: 25%;
}

.myHeader{
    position: absolute;
    display: flex;
    width: 100%;
    height: 10%;
    min-height: 80px;
    left: 0;
    top: 0;

    background: #FFFFFF;
}